html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
}

body {
    margin: 0;
    min-height:100vh;
}

p {
    /* 1.5rem equals to 15px*/
    font-size: 1.5rem;
}

.sr-only {
    position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.main {
    background-color: hsl(212, 45%, 89%);
    display: grid;
    grid-template-rows: 9fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    margin: 50px;
    font-family: "Outfit", "sans-serif";
}

.box__image {
    width: 100%;
    border-radius: 10%;
    padding: 20px;
}

.box__text {
    padding: 0 35px 35px 35px;
}

.text__heading {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 0;
}

.text__description {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}



